[submodule "submodules/PrivacyQA_EMNLP"]
  path = submodules/PrivacyQA_EMNLP
  url = https://github.com/AbhilashaRavichander/PrivacyQA_EMNLP.git
  branch = master
[submodule "submodules/PolicyQA"]
  path = submodules/PolicyQA
  url = https://github.com/wasiahmad/PolicyQA.git
  branch = main
[submodule "submodules/Polisis_Benchmark"]
  path = submodules/Polisis_Benchmark
  url = https://github.com/SmartDataAnalytics/Polisis_Benchmark.git
  branch = master
[submodule "submodules/piextract_dataset"]
  path = submodules/piextract_dataset
  url = https://github.com/um-rtcl/piextract_dataset.git
  branch = master
[submodule "submodules/policy-ie"]
  path = submodules/policy-ie
  url = https://github.com/infsys-lab/policy-ie.git
  branch = main
